body {
    min-height:100%;
    background-image: url("https://ak0.picdn.net/shutterstock/videos/15747700/thumb/1.jpg");
}
table {
    column-width: 10px;
	text-align:center;
    
}
.text-center{
  text-align: center;
}
th, td {
    padding: 15px;
    text-align: left;
}

.space-bot{
  margin-bottom: 35px;
}

.space-top{
  margin-top: 35px;
}

/* Title */

p{
	color: black;
	font-family: sans-serif;
	font-weight:bold;
	font-size:16;
}
h1 {
    color: black;
    font-family: arial black;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
	letter-spacing: 3px;
	
}

h2 {
    color: Red;
    font-family: courier;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
}

h3 {
    color: Red;
    font-family: courier;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

/* Sign Up */

.container {
    max-width: 100%;
    max-height: 100px;
    margin-top: 10px;
	text-align: center;
}



button {
    background-color: #4CAF50; /* Green */
    border: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.btn{
  border-radius: 10px;
  position="center";
  
}

.cancel{
  background-color: #FF0000;
}

.submit{
  background-color: #008000;
}

.done:hover{
  background-color: #6dc793;
}

.done:focus{
  background-color: #6dc793;
}

.cancel:hover{
  background-color: #FF0000;
}

.cancel:focus{
  background-color: #FF0000;
}

.input-group {
    width:100%;
}

.input-textbox{
	
}
.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}

/* Error Box */

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px power blue;
  border-radius: 2px;
  border-color: red;
  color: red;
  font-weight:bold;
  font-size:16;
 }
 
.alert-danger {
	text-align: left;
}

.help-block {
    font-size: 12px;
    color: white
}